/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Mukta", sans-serif, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background: rgba(56, 151, 56, 0.7);
  height: 80px;
}
@media (max-width: 875px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    height: 280px;
    top: 0px;
    background: white;
  }
}
header h1 {
  font-family: "Lobster", cursive;
  margin-left: 20px;
  color: whitesmoke;
}
@media (max-width: 875px) {
  header h1 {
    font-size: 2.8rem;
    margin-top: 10px;
    color: #389738;
  }
}
header .home-nav {
  font-size: 1.7rem;
  display: inline-block;
  text-align: right;
}
@media (max-width: 875px) {
  header .home-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
  }
}
header .home-nav a {
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  color: white;
  margin: 0 20px;
}
@media (max-width: 875px) {
  header .home-nav a {
    margin: 5px;
    display: block;
    background-color: #389738;
    cursor: pointer;
    width: 50%;
    height: 45px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  header .home-nav a:hover {
    background-color: white;
    color: #389738;
  }
}
footer {
  background: rgba(56, 151, 56, 0.8);
  display: fixed;
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h1 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  margin: 20px auto;
  color: whitesmoke;
}
footer nav {
  align-content: center;
  text-decoration: none;
  font-size: 1.3rem;
  width: 50%;
}
footer nav a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 20px;
}
@media (max-width: 570px) {
  footer nav {
    width: 100%;
  }
}
.wrapper {
  margin-right: auto;
  /* 1 */
  margin-left: auto;
  /* 1 */
  max-width: 960px;
  /* 2 */
  height: fit-content;
  padding-right: 10px;
  /* 3 */
  padding-left: 10px;
  /* 3 */
}
section {
  height: fit-content;
  color: #389738;
  width: 100%;
  display: block;
}
@media (max-width: 875px) {
  section {
    height: fit-content;
  }
}
.top-section {
  position: relative;
  width: 100%;
  /* end of sign up */
  /* !!!!!! INTRO SECTION !!!!!!!!! */
  /* end of product intro */
}
@media (max-width: 960px) {
  .top-section {
    background-size: cover;
  }
}
@media (max-width: 875px) {
  .top-section {
    height: fit-content;
  }
}
@media (max-width: 570px) {
  .top-section {
    height: fit-content;
  }
}
.top-section .sign-up {
  position: relative;
  height: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url(/img/architecture-beautiful-castle-2599692.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.top-section .sign-up h2 {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 4rem;
}
.top-section .sign-up i {
  font-size: 100px;
  color: red;
}
.top-section .sign-up .sign-up-btn {
  display: block;
  background-color: #389738;
  cursor: pointer;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  margin: 30px auto;
  font-weight: bolder;
}
.top-section .sign-up .sign-up-btn:hover {
  background-color: white;
  color: #389738;
}
.top-section .intro {
  position: relative;
  height: fit-content;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 875px) {
  .top-section .intro {
    height: fit-content;
  }
}
@media (max-width: 570px) {
  .top-section .intro {
    height: fit-content;
  }
}
.top-section .intro #australia {
  margin: 20px;
  position: relative;
  margin-top: 5vh;
  align-self: center;
}
@media (max-width: 960px) {
  .top-section .intro #australia {
    align-self: center;
  }
}
@media (max-width: 875px) {
  .top-section .intro #australia {
    display: none;
  }
}
@media (max-width: 570px) {
  .top-section .intro #australia {
    width: 100%;
    margin: 0 auto;
  }
}
.top-section .intro .features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 5vh;
}
.top-section .intro .features div div h3 {
  font-size: 2.3rem;
  margin: 10px;
}
.top-section .intro .features a {
  font-size: 40px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  color: #389738;
}
.top-section .intro .features a:hover {
  color: #8c8cff;
}
.top-section .intro .features div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 875px) {
  .top-section .intro .features div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.top-section .intro .features div div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
/* ======== END OF TOP SECTION ======== */
.about-section {
  height: fit-content;
}
.container {
  height: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.container img {
  height: 150px;
  border-radius: 50%;
}
@media (max-width: 570px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.person {
  padding: 20px;
  width: 30%;
  display: inline-block;
  text-align: center;
}
.person img {
  margin: 10px;
}
.person h2 {
  font-size: 2.8rem;
}
@media (max-width: 570px) {
  .person {
    width: 100%;
  }
}
