footer {
  // position: relative;
  background: rgba(@main-color, 0.8);

  display: fixed;
  text-align: center;
  height: 100px;
  .custom-flex(column, center, center);
  h1 {
    font-family: @lobster;
    font-size: 2.5rem;
    margin: 20px auto;
    color: whitesmoke;
  }

  nav {
    align-content: center;
    text-decoration: none;
    font-size: 1.3rem;
    width: 50%;
    a {
      color: whitesmoke;
      text-decoration: none;
      margin: 0 20px;
    }
    @media @sPhone {
      width: 100%;
    }
  }
  // bottom: 0px;
}
