.custom-btn(@bgcolor:#FFBF27, @width:200px, @font-color:#000) {
  display: block;
  background-color: @bgcolor;
  // margin: 0 10px 20px;
  cursor: pointer;
  width: @width;
  height: fit-content;
  border-radius: 10px;
  color: @font-color;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  &:hover {
    background-color: rgba(@purple-color, 0.5);
    color: whitesmoke;
    border: 1px solid @main-color;
    position: relative;
  }
}

.custom-flex(@d:row, @j, @a) {
  display: flex;
  flex-direction: @d;
  justify-content: @j;
  align-items: @a;
}

@sPhone: ~"(max-width: 570px)";
@phone: ~"(max-width: 875px)";
@tablet: ~"(max-width: 960px)";
