header {
  .custom-flex(row, space-between, center);
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 2;
  background: rgba(140, 140, 255, 0.7);
  height: 80px;
  h1 {
    font-family: @lobster;
    margin-left: 20px;
    color: whitesmoke;
  }
}

.home-nav {
  font-size: 1.2rem;

  .custom-flex(row, center, center);
  margin: 10px;
  // background: blue;
  width: 20%;
  a {
    text-decoration: none;
    font-family: @mukta;

    color: white;
    margin: 10px;
  }
}
