header {
  .custom-flex(row, space-between, center);
  background: rgba(0, 0, 0, 0.5);
  height: 80px;
  h1 {
    font-family: @lobster;
  }
}

.home-nav {
  font-size: 1.2rem;

  .custom-flex(row, center, center);
  margin: 10px;
  // background: blue;
  width: 20%;
}

.home-nav a {
  text-decoration: none;
  font-family: @mukta;

  color: white;
  margin: 10px;
}
